#main_image_2_414p{
    display: none;
}

#main_image_2_768p{
    display: none;
}

#main_image_2_1300p{
    display: none;
}

#main_image_2_1024p{
    display: block;
}

#important_text{
    font-size: 3.6rem;
}

#discover{
    flex-direction: row;
    flex-wrap: wrap;
}

.new_collection_beige, .new_collection_white{
    width: 50%;
}

.new_collection_beige, .new_collection_white{
    padding: 0 1rem;
}

#discover > div:nth-child(1),
#discover > div:nth-child(4){
    background-color: #ffffff;
}

#discover > div:nth-child(2),
#discover > div:nth-child(3){
    background-color: #f2f2f2;
}

.post{
    width: 30rem;
}

.post_pc{
    display: block;
}

.post_movil, .post_tablet{
    display: none;
}

.post button{
    cursor: pointer;
}

.new_box button, #see_more_new_products{
    cursor: pointer;
}

.new_box button:hover, #see_more_new_products:hover, .new_collection_beige button:hover, .new_collection_white button:hover{
    transition: all 0.3s;
    background-color: #f2f2f2;
    color: var(--dark-beige);
    border: 2px solid var(--dark-beige);
}

.post button:hover{
    transition: all 0.3s;
    background-color: var(--dark-beige);
    color: #fff;
}


