#main_image_2_414p{
    display: none;
}

#main_image_2_1024p{
    display: none;
}

#main_image_2_1300p{
    display: none;
}

#main_image_2_768p{
    display: block;
}

#main_image_text p{
    font-size: 8rem;
}

#main_image_text p:last-child{
    font-size: 2.4rem;
}

#important_text{
    padding: 2.5rem 0;
}

#plus{
    top: 0.7rem;
}

.new_collection_beige, .new_collection_white{
    padding: 0 12rem;
}

#zapatos_movil, #ropa_deportiva_movil{
    display: none;
}

#zapatos_tablet, #ropa_deportiva_tablet{
    display: block;
}

.new_box{
    width: 20.9rem;
    padding-top: 2rem;
}

.post{
    width: 45%;
}

#posts_container{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.post_tablet{
    display: block;
}

.post_movil, #post_pc{
    display: none;
}

